<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>{% block title %}
        {{ alias }}
    {% endblock %}</title>

    {#    <script type="text/javascript"#}
    {#            src="../static/jslib/jquery-3.4.1.min.js"></script>#}
    {#    <script type="text/javascript"#}
    {#            src="../static/jslib/bootstrap.min.js"></script>#}
    {##}
    {#    <link rel="stylesheet" type="text/css"#}
    {#          href="../static/csslib/bootstrap.min.css">#}
    {#    <link href="../static/csslib/video-js.css" rel="stylesheet"/>#}
    {#    <script src="../static/jslib/video.min.js"></script>#}

    <script type="text/javascript"
            src="{% static 'jslib/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'jslib/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" type="text/css"
          href="{% static 'csslib/bootstrap.min.css' %}">
    <link href="{% static 'csslib/video-js.css' %}" rel="stylesheet"/>
    <script src="{% static 'jslib/video.min.js' %}"></script>

</head>
<body>

<div class="container">
    {% for foo in number_list %}
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">


                <li class="list-group-item">
                    <a href="/detail/{{ name }}/{{ foo }}/">{{ alias }}
                        第 {{ foo }} 集</a>
                </li>


            </ul>
        </div>

    {% endfor %}

</div>
</body>
</html>